:root {
    /* Базовые цвета */
    --background: oklch(1 0 0); /* Белый фон */
    --border: oklch(0.86 0.01 260); /* Серая рамка */

    /* Текст */
    --font-color-dark: oklch(0.2 0.1 200); /* Основной черный текст */
    --font-color-ligth: oklch(0.52 0.02 260); /* Второстепенный серый текст */
    --font-color-placeholder: oklch(0.68 0.02 260); /* Текст плейсхолдера */
    --font-color-white: oklch(1 0 0); /* Белый текст */

    /* Primary - основной цвет зеленый */
    --primary: oklch(0.57 0.13 130); /* Основной зеленый */
    --primary-light: oklch(0.65 0.15 130); /* Светлее */
    --primary-dark: oklch(0.40 0.12 130); /* Темнее */

    /* Аватар */
    --avatar-empty-bg: oklch(0.9 0.01 145); /* Бледно-зеленый для аватара */
    --avatar-empty-icon: oklch(0.5 0 0); /* Иконка аватара*/

    /* Ошибки и опасные операции */
    --destructive: oklch(0.525 0.054 19.035); /* Приглушенный красный для иконок */
    --error: oklch(0.57 0.22 25); /* Для ошибок */
}